#login-bg-wrapper {
    width: 100%;
    height: 0;
    display: none;
    position: absolute;
    background-image: linear-gradient(#0D1842, #030716);
    z-index: 2147483647;
}

/* header */
/* header */
/* header */
/* header */
/* header */
/* header */
/* header */
/* header */
#login-header {
    width: 100%;
    height: 15%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

#login-header .logo-img {
    display: inline-block;
    vertical-align: top;
    height: 60px;
    margin-top: 25px;
}

#login-header .logo-img:hover {
    cursor: pointer;
}

/* footer */
/* footer */
/* footer */
/* footer */
/* footer */
/* footer */
/* footer */
/* footer */
#login-footer {
    width: 100%;
    height: 110px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}

#login-footer .login-footer-cta {
    position: absolute;
    bottom: 15px;
    right: 10px;
    height: 30px;
    width: 260px;
    text-align: center;
    -moz-transition: bottom 0.5s, width 0.5s, right 0.5s, -moz-transform ease-in-out 0.15s;
    -webkit-transition: bottom 0.5s, width 0.5s, right 0.5s, -moz-transform ease-in-out 0.15s;
    -o-transition: bottom 0.5s, width 0.5s, right 0.5s, -moz-transform ease-in-out 0.15s;
    transition: bottom 0.5s, width 0.5s, right 0.5s, -moz-transform ease-in-out 0.15s;
}

#login-footer .login-footer-cta.p3 {
    bottom: 200px !important;
    width: 400px !important;
    right: calc(50% - 200px) !important;
}

#login-footer .login-footer-cta.p3 .login {
    width: 180px !important;
    height: 40px !important;
    border-radius: 20px !important;
    line-height: 40px !important;
}

#login-footer .login-footer-cta.p3 .reg {
    width: 180px !important;
    height: 40px !important;
    border-radius: 20px !important;
    line-height: 40px !important;
}

.login-footer-btn {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    font-size: 0.8em;
    line-height: 30px;
    -moz-transition: background 0.15s, width 0.5s, border-radius 0.5s, line-height, 0.5s height 0.5s, -moz-transform linear 0.15s;
    -webkit-transition: background 0.15s, width 0.5s, border-radius 0.5s, line-height 0.5s, height 0.5s, -moz-transform linear 0.15s;
    -o-transition: background 0.15s, width 0.5s, border-radius 0.5s, line-height 0.5s, height 0.5s, -moz-transform linear 0.15s;
    transition: background 0.15s, width 0.5s, border-radius 0.5s, line-height 0.5s, height 0.5s, -moz-transform linear 0.15s;
}

#login-footer .login {
    margin-right: 3px;
    background: #0D1842;
    color: white;
}

#login-footer .login:hover {
    background: #0F1C4C;
    cursor: pointer;
}

#login-footer .reg {
    margin-left: 3px;
    background: white;
    color: #0D1842;
}

#login-footer .reg:hover {
    background: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

#login-footer .login-footer-website {
    position: absolute;
    bottom: 10px;
    left: 20px;
    height: 30px;
    text-align: left;
}

#login-footer .login-footer-website:hover {
    cursor: pointer;
}

#login-footer .login-footer-website p {
    display: inline-block;
    vertical-align: top;
    color: white;
    font-size: 0.85em;
    line-height: 25px;
}

#login-footer .login-footer-website img {
    display: inline-block;
    vertical-align: top;
    height: 20px;
    margin-top: 2px;
}

.login-page-next-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 100%;
    text-align: center;
}

#login-next-wrapper {
    vertical-align: top;
    height: 100%;
    padding: 0 20px;
    display: none;
}

#login-next-wrapper:hover {
    cursor: pointer;
}

#login-next-wrapper img {
    margin-top: 8px;
    height: 15px;
    position: relative;
    animation-delay: 2s;
}

#login-next-wrapper p {
    display: inline-block;
    vertical-align: top;
    color: white;
    font-size: 0.9em;
    line-height: 30px;
}

#login-prev-wrapper {
    vertical-align: top;
    height: 100%;
    padding: 0 20px;
    display: none;
}

#login-prev-wrapper:hover {
    cursor: pointer;
}

#login-prev-wrapper img {
    margin-top: 8px;
    height: 15px;
    position: relative;
    animation-delay: 2s;
}

#login-prev-wrapper p {
    display: inline-block;
    vertical-align: top;
    color: white;
    font-size: 0.9em;
    line-height: 30px;
}

@keyframes login-prev-arrow-ani {
    0% {
        left: 0;
    }
    10% {
        left: -10px;
    }
    20% {
        left: 0;
    }
    100% {
        left: 0;
    }
}

@keyframes login-next-arrow-ani {
    0% {
        right: 0;
    }
    10% {
        right: -10px;
    }
    20% {
        right: 0;
    }
    100% {
        right: 0;
    }
}

#login-footer .login-footer-cta p {
    position: absolute;
    text-align: center;
    color: white !important;
    font-size: 0.8em;
    width: 100%;
    bottom: -40px;
    display: none;
}

#login-footer .login-footer-cta span {
    color: #1DDA93 !important;
    text-decoration: underline;
}

#login-footer .login-footer-cta span:hover {
    cursor: pointer;
}

/* page 1 */
/* page 1 */
/* page 1 */
/* page 1 */
/* page 1 */
/* page 1 */
/* page 1 */
/* page 1 */
/* page 1 */
/* page 1 */
#login-p1 {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 8%;
    right: -15%;
    opacity: 0;
}

#login-p2 {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 8%;
    right: -15%;
    opacity: 0;
}

#login-p3 {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 8%;
    right: -15%;
    opacity: 0;
}

.login-page-body {
    height: 100%;
    width: 100%;
}

@keyframes login-page-ani {
    0% {
        right: -15%;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes login-page-ani-reverse {
    0% {
        right: 15%;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}

.login-page-body img {
    width: 94%;
    height: auto;
    margin-left: 3%;
    margin-top: 3%;
    pointer-events: none;
}

@keyframes login-page-fade-ani {
    0% {
        width: 100%;
        height: 100%;
        top: 8%;
        right: 0;
        opacity: 1;
    }
    100% {
        width: 90%;
        height: 90%;
        top: 12%;
        right: 5%;
        opacity: 0;
    }
}


/* end */















