body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
    margin: 0;
    width: 600px;
    height: 50px;
    background: #F3F6F8;
    border-bottom: 1px solid #D0DDE7;
    position: relative;
}

#header.dark {
    background: #1F1F2A !important;
    border-bottom: 1px solid #494958 !important;
}

/*#header .left-wrapper {*/
/*    height: 100%;*/
/*    width: 30%;*/
/*    !*outline: 1px dotted blue;*!*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

#header .right-wrapper {
    height: 100%;
    /*width: 30%;*/
    /*outline: 2px dotted blue;*/
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}


/* pause wrapper */
/* pause wrapper */
/* pause wrapper */
/* pause wrapper */
/* pause wrapper */
/* pause wrapper */
#header .pause-wrapper {
    height: 100%;
    /*outline: 1px dotted red;*/
    width: 60px;
    /*padding: 0 5px;*/
    /*background: rgba(0,0,0,0.01);*/
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0;
}

#toggle-wrapper-title {
    width: 100%;
}

#status-dot {
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    margin-right: 3px;
}

#status-text {
    font-size: 0.67em;
    display: inline-block;
    vertical-align: top;
    /*outline: 1px dotted green;*/
    margin-top: 5px;
    margin-bottom: 0;
}

#header.dark #status-text {
    color: white !important;
}

.pause-wrapper #toggle-wrapper {
    width: 100%;
    text-align: center;
    /*outline: 1px dotted red;*/
}

#is-paused-toggle-btn {
    width: 40px;
    height: 24px;
    /*outline: 1px dotted green;*/
    display: inline-block;
    margin-top: 2px;
    border-radius: 12px;
    position: relative;
}

#is-paused-toggle-btn:hover {
    cursor: pointer;
}

#is-paused-toggle-btn .dot {
    position: absolute;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background: white;

    -moz-transition: left 0.15s, background 0.15s, -moz-transform ease-in-out 0.15s;
    -webkit-transition: left 0.15s, background 0.15s, -moz-transform ease-in-out 0.15s;
    -o-transition: left 0.15s, background 0.15s, -moz-transform ease-in-out 0.15s;
    transition: left 0.15s, background 0.15s, -moz-transform ease-in-out 0.15s;
}



/* menu wrapper */
/* menu wrapper */
/* menu wrapper */
/* menu wrapper */
/* menu wrapper */
/* menu wrapper */
.right-wrapper .menu-wrapper {
    height: 100%;
    min-width: 40px;
    /*background: dodgerblue;*/
    /*outline: 1px dotted blue;*/
    display: inline-block;
    vertical-align: top;
    margin: 0;
    /*position: relative;*/
    /*position: relative;*/
}

.right-wrapper .menu-wrapper .profile-wrapper {
    background: white;
    border: 1px solid #D0DDE7;
    height: 40px;
    position: relative;
    padding: 0 2px;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 4px;

    -moz-transition: border 0.15s, -moz-transform ease-in-out 0.15s;
    -webkit-transition: border 0.15s, -moz-transform ease-in-out 0.15s;
    -o-transition: border 0.15s, -moz-transform ease-in-out 0.15s;
    transition: border 0.15s, -moz-transform ease-in-out 0.15s;
}

#header.dark .right-wrapper .menu-wrapper .profile-wrapper {
    background: #13131A !important;
    border: 1px solid #494958 !important;
}

.right-wrapper .menu-wrapper .profile-wrapper:hover {
    cursor: pointer;
    border: 1px solid #ABB8C1;
}

#header.dark .right-wrapper .menu-wrapper .profile-wrapper:hover {
    border: 1px solid #5C5C6E !important;
}

#profile-name {
    display: inline-block;
    vertical-align: top;
    line-height: 38px;
    font-size: 0.9em;
    margin-left: 10px;
    margin-right: 1px;
    font-weight: bold;
    color: #121219;
    /*outline: 1px dotted blue;*/
}

#header.dark #profile-name {
    color: white;
}

.right-wrapper .menu-wrapper .profile-wrapper img {
    height: 30px;
    margin-top: 4px;
    margin-right: 5px;
    /*margin: 5%;*/
    display: inline-block;
    vertical-align: top;
    /*outline: 1px dotted blue;*/
}


/* bg cover */
/* bg cover */
/* bg cover */
/* bg cover */
/* bg cover */
/* bg cover */
#bg-cover {
    width: 100%;
    height: 0;
    position: absolute;
    background: rgba(2, 4, 6, 0.85);
    z-index: 100;
}

#bg-cover:hover {
    /* white */
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='20px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E %3Cg fill='white'%3E %3Cpath d='M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4 L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1 c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1 c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z'/%3E %3C/g%3E %3C/svg%3E"), pointer;
}

#bg-cover.dark {
    background: rgba(255, 255, 255, 0.75);
}

#bg-cover.dark:hover {
    /* black */
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='20px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E %3Cg fill='black'%3E %3Cpath d='M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4 L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1 c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1 c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z'/%3E %3C/g%3E %3C/svg%3E"), pointer;
}





/* profile menu wrapper */
/* profile menu wrapper */
/* profile menu wrapper */
/* profile menu wrapper */
/* profile menu wrapper */
/* profile menu wrapper */
/* profile menu wrapper */
/* profile menu wrapper */
#profile-menu-wrapper {
    width: 300px;
    position: absolute;
    top: 55px;
    right: 4px;
    background: white;
    border-radius: 5px;
    display: none;
    z-index: 200;
    padding: 15px 0;
}

#profile-menu-wrapper .top-pointer {
    position: absolute;
    top: -5px;
    right: 40px;
    transform: rotate(45deg);
    background: white;
    height: 20px;
    width: 20px;
    z-index: 1;
}

#profile-menu-wrapper.dark {
    background: #1F1F2A !important;
}

#profile-menu-wrapper.dark .top-pointer {
    background: #1F1F2A !important;
}


/* profile menu wrapper - profile details */
/* profile menu wrapper - profile details */
/* profile menu wrapper - profile details */
#profile-menu-wrapper .profile-details-wrapper {
    width: 100%;
    /*min-height: 100px;*/
    /*outline: 1px dotted red;*/
    background: white;
    position: relative;
    z-index: 10;
    border-radius: 5px;
    /*margin-top: 5px;*/
}

#profile-menu-wrapper.dark .profile-details-wrapper {
    background: #1F1F2A !important;
    /*background: #121219 !important;*/
}

#profile-menu-wrapper .profile-details-wrapper .body {
    /*outline: 1px dotted blue;*/
    /*padding: 12px 12px;*/
    /*outline: 1px dotted blue;*/
    width: 90%;
    /*height: 100%;*/
    margin-left: 5%;
    /*margin-top: 20px;*/
    border-radius: 3px;
    position: relative;
    background: rgba(0, 0, 0, 0);
}

#profile-menu-wrapper .profile-details-wrapper .profile-img {
    height: 38px;
    width: 38px;
    border: 1px solid #D0DDE7;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-bottom: 10px;
    -moz-transition: border 0.15s, -moz-transform ease-in-out 0.15s;
    -webkit-transition: border 0.15s, -moz-transform ease-in-out 0.15s;
    -o-transition: border 0.15s, -moz-transform ease-in-out 0.15s;
    transition: border 0.15s, -moz-transform ease-in-out 0.15s;
}

#profile-menu-wrapper.dark .profile-details-wrapper .profile-img {
    border: 1px solid #494958 !important;
}

#profile-menu-wrapper.dark .profile-details-wrapper .profile-img:hover {
    border: 1px solid white !important;
}

#profile-menu-wrapper .profile-details-wrapper .body .profile-img:hover {
    cursor: pointer;
    border: 1px solid #ABB8C1;
}

#profile-icon-menu {
    /*outline: 1px dotted red;*/
    width: 80%;
    margin: 10% 0 0 10%;
}


#profile-menu-wrapper .profile-details-wrapper .body .title {
    width: 100%;
    height: 30px;
    /*outline: 1px dotted green;*/
    text-align: left;
    padding-left: 9px;
    margin-bottom: 5px;
}

#profile-menu-wrapper .profile-details-wrapper .body .title p {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    font-size: 0.7em;
}

#profile-menu-wrapper.dark .profile-details-wrapper .body .title p {
    color: white;
}

#profile-menu-wrapper .profile-details-wrapper .body .title p.green {
    color: #00C06D;
}

#profile-menu-wrapper .profile-details-wrapper .body .title p.red {
    color: #FF625D;
}

#profile-menu-wrapper .profile-details-wrapper .body .title .status-dot {
    display: inline-block;
    vertical-align: top;
    height: 4px;
    width: 4px;
    border-radius: 2px;
    margin: 13px 5px 0 5px;
}

.status-dot.green {
    background: #1DDA93;
}

.status-dot.red {
    background: #EC5C4D;
}

#profile-menu-wrapper .profile-details-wrapper .body .text-wrapper {
    /*outline: 1px dotted red;*/
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    position: relative;
    width: 220px;
}

#profile-menu-wrapper .profile-details-wrapper .body .text-wrapper p {
    font-size: 0.8em;
    color: #B0BAC2;
    padding: 0 0 0 5px;
}

#profile-menu-wrapper .profile-details-wrapper .body .text-wrapper .profile-name-wrapper {
    /*outline: 1px dotted red;*/
    height: 38px;
    width: 220px;
    position: relative;

    -moz-transition: width 0.25s, -moz-transform ease-in-out 5s;
    -webkit-transition: width 0.25s, -moz-transform ease-in-out 5s;
    -o-transition: width 0.25s, -moz-transform ease-in-out 5s;
    transition: width 0.25s, -moz-transform ease-in-out 5s;
}

#profile-menu-wrapper .profile-details-wrapper .body .text-wrapper .profile-name-wrapper label {
    display: none;
}

#profile-menu-wrapper .profile-details-wrapper .body .text-wrapper .profile-name-wrapper input {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 8px;
    line-height: 36px;
    border: 1px solid #D0DDE7;
    width: 100%;
    color: black;
    border-radius: 4px;
    background: transparent;

    -moz-transition: border 0.15s, -moz-transform ease-in-out 0.15s;
    -webkit-transition: border 0.15s, -moz-transform ease-in-out 0.15s;
    -o-transition: border 0.15s, -moz-transform ease-in-out 0.15s;
    transition: border 0.15s, -moz-transform ease-in-out 0.15s;
}

#profile-menu-wrapper.dark .profile-details-wrapper .body .text-wrapper .profile-name-wrapper input {
    border: 1px solid #494958;
    color: white !important;
}

#profile-menu-wrapper .profile-details-wrapper .body .text-wrapper .profile-name-wrapper input:hover {
    cursor: pointer;
    border: 1px solid #ABB8C1;
}

#profile-menu-wrapper .profile-details-wrapper .body .text-wrapper .profile-name-wrapper input:focus {
    border: 1px solid #ABB8C1;
}

#profile-menu-wrapper.dark .profile-details-wrapper .body .text-wrapper .profile-name-wrapper input:hover {
    border: 1px solid white !important;
}

#profile-menu-wrapper.dark .profile-details-wrapper .body .text-wrapper .profile-name-wrapper input:focus {
    border: 1px solid white !important;
}

#profile-name-edit-icon {
    position: absolute;
    bottom: 4px;
    right: 4px;
    height: 15px;
    visibility: hidden;
}

#profile-name-edit-icon:hover {
    cursor: pointer;
}

#profile-name-letter-count {
    /*outline: 1px dotted red;*/
    position: absolute;
    top: 3px;
    right: 0;
    visibility: hidden;
    width: 29px;
    text-align: center;
    font-size: 0.7em !important;
}

#profile-menu-wrapper #profile-settings-button {
    position: absolute;
    top: 0;
    right: 15px;
    height: 30px;
    width: 30px;
    /*outline: 1px dotted red;*/
    border-radius: 4px;
    -moz-transition: background 0.15s, -moz-transform ease-in-out 5s;
    -webkit-transition: background 0.15s, -moz-transform ease-in-out 5s;
    -o-transition: background 0.15s, -moz-transform ease-in-out 5s;
    transition: background 0.15s, -moz-transform ease-in-out 5s;
}

#profile-menu-wrapper #profile-settings-button img {
    width: 50%;
    margin: 25% 0 0 25%;
}

#profile-menu-wrapper #profile-settings-button:hover {
    cursor: pointer;
    background: #F3F6F8;
}

#profile-menu-wrapper.dark #profile-settings-button:hover {
    background: #282835;
}


/* profile menu wrapper - general */
/* profile menu wrapper - general */
/* profile menu wrapper - general */
/* profile menu wrapper - general */
/* profile menu wrapper - general */
#profile-menu-wrapper .line {
    width: 100%;
    padding: 0 5%;
    margin: 8px 0;
}

#profile-menu-wrapper .line p {
    height: 1px;
    background: #D0DDE7;
}

#profile-menu-wrapper.dark .line p {
    background: #494958 !important;
}

#profile-menu-wrapper .cell-wrapper {
    width: 100%;
    height: 30px;
    position: relative;
}

#profile-menu-wrapper .cell {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    border-radius: 3px;
    position: relative;
    background: rgba(0, 0, 0, 0);
    /*-moz-transition: background 0.15s, -moz-transform ease-in-out 0.15s;*/
    /*-webkit-transition: background 0.15s, -moz-transform ease-in-out 0.15s;*/
    /*-o-transition: background 0.15s, -moz-transform ease-in-out 0.15s;*/
    /*transition: background 0.15s, -moz-transform ease-in-out 0.15s;*/
}

#profile-menu-wrapper .cell {
    cursor: pointer;
}

#profile-menu-wrapper .cell.red:hover {
    background: #FF625D;
}

#profile-menu-wrapper .cell.red:hover > p {
    color: white;
}

#profile-menu-wrapper .cell.normal:hover {
    background: #2A2A35;
}

#profile-menu-wrapper .cell.normal:hover > p {
    color: white;
}

#profile-menu-wrapper.dark .cell.normal:hover > p {
    color: #2A2A35 !important;
}


#profile-menu-wrapper.dark .cell.normal:hover {
    background: white !important;
}

#profile-menu-wrapper .cell.dark-theme:hover {
    background: unset !important;
    cursor: default !important;
}

#profile-menu-wrapper .cell img {
    height: 70%;
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

#profile-menu-wrapper .cell p {
    display: inline-block;
    line-height: 32px;
    font-size: 0.8em;
}

#profile-menu-wrapper.dark .cell p {
    color: white !important;
}

#purge.disabled {
    opacity: 0.5;
}

#purge.disabled:hover {
    cursor: not-allowed;
}



/* profile menu wrapper - dark theme toggle button */
/* profile menu wrapper - dark theme toggle button */
/* profile menu wrapper - dark theme toggle button */
/* profile menu wrapper - dark theme toggle button */
/* profile menu wrapper - dark theme toggle button */
.dark-theme-toggle-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    /*outline: 1px dotted red;*/
    /*width: 60px;*/
    /*text-align: right;*/
    /*background: red;*/
    padding: 0 3px;
    border-radius: 15px;
}

#dark-theme-toggle-bg {
    height: 24px;
    width: 40px;
    border-radius: 12px;
    background: #191C1E;
    margin-top: 3px;
    border: 2px solid #191C1E;
    position: relative;
}

#dark-theme-toggle-bg.dark {
    background: white !important;
    border: 2px solid white !important;
}

#dark-theme-toggle-bg:hover {
    cursor: pointer;
}

#dark-theme-toggle-core {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 0;
    left: 0;

    -moz-transition: left 0.15s, -moz-transform ease-in-out 0.15s;
    -webkit-transition: left 0.15s, -moz-transform ease-in-out 0.15s;
    -o-transition: left 0.15s, -moz-transform ease-in-out 0.15s;
    transition: left 0.15s, -moz-transform ease-in-out 0.15s;
}


#dark-theme-toggle-core.dark {
    background: #191C1E !important;
}

#dark-theme-toggle-core-icon {
    width: 12px;
    /*outline: 1px dotted red;*/
    position: absolute;
    top: -2px;
    left: -6px;
}


/*!* profile menu wrapper - delete all *!*/
/*!* profile menu wrapper - delete all *!*/
/*!* profile menu wrapper - delete all *!*/
/*!* profile menu wrapper - delete all *!*/
/*!* profile menu wrapper - delete all *!*/
/*#profile-menu-wrapper .purge-wrapper {*/
/*  width: 100%;*/
/*  height: 40px;*/
/*  !*outline: 1px dotted red;*!*/

/*  text-align: center;*/
/*  background: rgba(250,64,54,0.05);*/
/*  border-bottom-left-radius: 4px;*/
/*  border-bottom-right-radius: 4px;*/

/*  -moz-transition: left 0.15s, background 0.15s, -moz-transform ease-in-out 0.15s;*/
/*  -webkit-transition: left 0.15s, background 0.15s, -moz-transform ease-in-out 0.15s;*/
/*  -o-transition: left 0.15s, background 0.15s, -moz-transform ease-in-out 0.15s;*/
/*  transition: left 0.15s, background 0.15s, -moz-transform ease-in-out 0.15s;*/
/*}*/

/*#profile-menu-wrapper .purge-wrapper:hover {*/
/*  cursor: pointer;*/
/*  background: rgba(250,64,54,0.1);*/
/*}*/

/*#profile-menu-wrapper .purge-wrapper img {*/
/*  height: 22px;*/
/*  display: inline-block;*/
/*  vertical-align: top;*/
/*  !*outline: 1px dotted red;*!*/
/*  margin-top: 9px;*/
/*}*/

/*#profile-menu-wrapper .purge-wrapper p {*/
/*  !*outline: 1px dotted red;*!*/
/*  display: inline-block;*/
/*  vertical-align: top;*/
/*  font-size: 0.9em;*/
/*  line-height: 39px;*/
/*}*/


/*!* profile menu wrapper - logout *!*/
/*!* profile menu wrapper - logout *!*/
/*!* profile menu wrapper - logout *!*/
/*!* profile menu wrapper - logout *!*/
/*!* profile menu wrapper - logout *!*/
/*#profile-menu-wrapper .logout-wrapper {*/
/*  width: 100%;*/
/*  height: 40px;*/
/*  !*outline: 1px dotted red;*!*/

/*  text-align: center;*/
/*  background: rgba(250,64,54,0.05);*/
/*  border-bottom-left-radius: 4px;*/
/*  border-bottom-right-radius: 4px;*/

/*  -moz-transition: left 0.15s, background 0.15s, -moz-transform ease-in-out 0.15s;*/
/*  -webkit-transition: left 0.15s, background 0.15s, -moz-transform ease-in-out 0.15s;*/
/*  -o-transition: left 0.15s, background 0.15s, -moz-transform ease-in-out 0.15s;*/
/*  transition: left 0.15s, background 0.15s, -moz-transform ease-in-out 0.15s;*/
/*}*/

/*#profile-menu-wrapper .logout-wrapper:hover {*/
/*  cursor: pointer;*/
/*  background: rgba(250,64,54,0.1);*/
/*}*/

/*#profile-menu-wrapper .logout-wrapper img {*/
/*  height: 22px;*/
/*  display: inline-block;*/
/*  vertical-align: top;*/
/*  !*outline: 1px dotted red;*!*/
/*  margin-top: 9px;*/
/*}*/

/*#profile-menu-wrapper .logout-wrapper p {*/
/*  !*outline: 1px dotted red;*!*/
/*  display: inline-block;*/
/*  vertical-align: top;*/
/*  font-size: 0.9em;*/
/*  line-height: 39px;*/
/*}*/


/* profile icon list wrapper */
/* profile icon list wrapper */
/* profile icon list wrapper */
/* profile icon list wrapper */
/* profile icon list wrapper */
/* profile icon list wrapper */
/* profile icon list wrapper */
/* profile icon list wrapper */
#profile-icon-list-wrapper {
    position: absolute;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    visibility: hidden;
}

#profile-icon-list-wrapper .select-wrapper {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
    background: white;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    overflow: auto;
}

#profile-icon-list-wrapper .select-wrapper .icon-wrapper {
    display: inline-block;
    vertical-align: top;
    min-width: 10px;
    padding: 0 10px;
    height: 50px;
    background: #EFF6FA;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid transparent;
    -moz-transition: border 0.15s, -moz-transform ease-in-out 0.15s;
    -webkit-transition: border 0.15s, -moz-transform ease-in-out 0.15s;
    -o-transition: border 0.15s, -moz-transform ease-in-out 0.15s;
    transition: border 0.15s, -moz-transform ease-in-out 0.15s;
}

#profile-icon-list-wrapper .select-wrapper .icon-wrapper:hover {
    cursor: pointer;
    border: 1px solid #D0DDE7 !important;
}

#profile-icon-list-wrapper .select-wrapper .icon-wrapper img {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    margin-top: 8px;
}

#profile-icon-list-wrapper .select-wrapper .icon-wrapper p {
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    font-size: 0.9em;
    margin-left: 5px;
    margin-top: 5px;
}


#body {
    margin: 0;
    width: 100%;
    height: 550px;
    background: white;
}
